<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>STURDY</h1>
            <p>Rate and Review Any Album</p>
            <p>
                <a class="btn btn-primary btn-large" href="/albums/new">Add New Album</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% albums.forEach(function(album){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= album.image %>">
                <div class="caption">
                    <h4><%= album.name %></h4>
                    <% if (album.rating === 0) { %>
                    <em>No reviews yet.</em>
                    <% } else { %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (album.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (album.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (album.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (album.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
                </div>
                <p>
                    <a href="/albums/<%= album._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>

